In [1]:
print("hello welcome")

hello welcome

In [3]:
#two types of comment
#single line comment-->starts with # 
#tocomment and uncomment ctrl+?

In [2]:
print("hi")
#print("hello")
print("welcome")

hi
welcome

In [4]:
#multi line comment -->starts with""""""

In [5]:
"""


"""

'\n\n\n'

In [6]:
#to avoid repeated typing assign the value to a variable "a"

In [7]:
a = "welcome to todays class"

In [8]:
print(a)

welcome to todays class

In [9]:
a = input("enter a name")

enter a nameabbiramy

In [16]:
print(a)

abbiramy

In [1]:
##data types

In [2]:
#string --> anything that comes in double quotes

In [15]:
a = "PythonClass"

In [16]:
print (type(a))

<class 'str'>

In [5]:
print(isinstance(a,str))

True

In [6]:
print(len(a))  #gets the length

12

In [17]:
print(min(a))
print(max(a))
print(sorted(a))

C
y
['C', 'P', 'a', 'h', 'l', 'n', 'o', 's', 's', 't', 'y']

In [9]:
#ASCII value of capital letter is minimum than small letters
#lowest for space

In [18]:
print(a.isupper())
print(a.islower())

False
False

In [19]:
print(a.upper())
print(a.lower())
print(a.swapcase())

PYTHONCLASS
pythonclass
pYTHONcLASS

In [20]:
print(a.isalpha())
print(a.isalnum()) #alpha OR num
print(a.isdigit())  #if space is given in "a", output for apha will be false

True
True
False

In [21]:
##indexing
##0 1 2 3 4 5
##p y t h o n
##-6 -5 -4 -3 -2 -1  ##reverse indexing

In [23]:
a = "Machine Learning"

In [26]:
print(a[6])

e

In [27]:
##start : end : interval

In [28]:
print(a[2:8])

chine

In [30]:
print(a[:])  #from start to end without interval

Machine Learning

In [31]:
print(a[::1]) #entirely

Machine Learning

In [32]:
print(a[::2])  #gives every 2nd letter

McieLann

In [33]:
print(a[-1])

g

In [35]:
print(a[::-1])  #reverse indexing

gninraeL enihcaM

In [41]:
##
print(a.index("e"))   ##gives the value of first e only

6

In [43]:
print(a.index("e",7))

9

In [47]:
print(a.index("e",2,10))

6

In [48]:
print(a.rindex("a"))  #reverse index find form reverse, but gives value from front

10

In [56]:
#index, find
print(a.index("e"))  #if value not found, shows error
print(a.find("u"))  #if value not found, gives value -1

6
-1

In [3]:
a = "MachineLearning"

In [4]:
print(a.split("a"))
print(a.split("a",1))

['M', 'chineLe', 'rning']
['M', 'chineLearning']

In [5]:
print(a.replace("e","&"))
print(a.replace("e","&",2))   #replace second e also

Machin&L&arning
Machin&L&arning

In [7]:
print(a.count("g"))
print(a.count("n"))

1
3

In [14]:
a = "123"
b = 123

In [18]:
print(type (a))
print(type(b))   #without "" ---> integer

<class 'str'>
<class 'int'>

In [2]:
print(isinstance("a",str))

True

In [16]:
print(isinstance(b,str))

False

In [ ]:
#data type 2  integer

In [19]:
c = int(a)
print(c)
print(type(c))    #data type casting ---> convert a data type into another (string into integer)

123
<class 'int'>

In [22]:
a = "test"
b = int(a)    #alpha cant be type casted into digit

ValueError: invalid literal for int() with base 10: 'test'

In [23]:
a = "123"
b = float(a)
print(b)    #convert into decimal

123.0

In [24]:
a = 123
print(a.isdigit(a))    #isdigit, isaplha, isalnum are func of string (here a is integer)

AttributeError: 'int' object has no attribute 'isdigit'

In [25]:
a = 123
print(len(a))   #func of string not applicable

TypeError: object of type 'int' has no len()

In [28]:
a = [["abbi", "26", "tirunelveli"],["dhanu","26", "chennai"]]

In [35]:
a = ["abbi", "26", "tirunelveli"]

In [36]:
#type, isinstance, min, max, sorted, length, reverse

In [42]:
print(type(a))
print(isinstance(a,str))
print(min(a))
print(max(a))
print(sorted(a))
print(len(a))
print(a[::-1])

<class 'list'>
False
26
tirunelveli
['26', 'abbi', 'tirunelveli']
3
['tirunelveli', '26', 'abbi']

In [43]:
a = ["abbi", 26, "tirunelveli"]    #compares only with similar data types so error (string, int, string)

In [44]:
print(sorted(a))

TypeError: '<' not supported between instances of 'int' and 'str'

In [51]:
a.append("happy")      #adds at the end by default
print(a)

['abbi', 26, 'tirunelveli', 'life', 'life', 'happy', 'happy', 'happy', 'happy']

In [50]:
a.insert(3,"life")  #insert at a specific index
print(a)

['abbi', 26, 'tirunelveli', 'life', 'life', 'happy', 'happy', 'happy']

In [53]:
a.remove("life")     #remove a specific string 
print(a)

['abbi', 26, 'tirunelveli', 'happy', 'happy', 'happy', 'happy']

In [1]:
del a[3]  #delete a list when index is not known
print(a)

NameError: name 'a' is not defined

In [2]:
a = ["hi", "hello", "welcome"]

In [3]:
b = a.pop()   #pop removes last by default

In [4]:
print(a)

['hi', 'hello']

In [5]:
print(b)

welcome

In [7]:
#types of copy
#shallow copy  (shared memory) same output for both a, b
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [9]:
#deep (different memory) diff output for a,b
a = [1,2,3]
b = a.copy()
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [10]:
a = ["hi", "hello", "welcome"]
print(a.index("hi"))

0

In [11]:
print(a.rindex("hi"))   #only index works in lists  (rindex, find dont work)

AttributeError: 'list' object has no attribute 'rindex'

In [16]:
a = ("hi", "hello", "welcome")
print(type(a))      #tuple()is immutable and faster than list (cant be changed) vs list[] mutable(can be changed)
print(isinstance(a,str))
print(min(a))
print(max(a))
print(sorted(a))
print(a[0])
a.append(2)  #no append attrib for tuple

<class 'tuple'>
False
hello
welcome
['hello', 'hi', 'welcome']
hi

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
a = {2,2,2,7,7,7,7,9,9,9,9}   #{}set ; any indexing is not applicable in set(index, rindex etc)
print(type(a))
print(isinstance(a,str))
print(a[0])
print(a)  #set doesnt allow duplicate values

<class 'set'>
False

TypeError: 'set' object is not subscriptable

In [25]:
a = {3,4,5,6,7}
b = {2,4,8,9,6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{2, 3, 4, 5, 6, 7, 8, 9}
{4, 6}
{3, 5, 7}
{8, 9, 2}

In [31]:
a = {1,2}
b = {1,2,3,4,5,6}
print(a.issubset(b))
print(b.issubset(a))
print(b.issuperset(a))
print(a.issuperset(b))

True
False
True
False

In [32]:
a = {1,2,3}
a.add(6)  #append, insert not applic in set
print(a)

{1, 2, 3, 6}

In [33]:
a.remove(2)
print(a)

{1, 3, 6}

In [2]:
a = [["kiran" , "20" , "trichy"], ["arun" , "24" , "madurai"]]   #dictionary assign a value to a key speciifically
a = [{"name" : "kiran , "age" : "20" , "location" : "trichy"} , {"name" : "arun" , "age" : "24" , "loaction" : "madurai"}]

SyntaxError: unterminated string literal (detected at line 2) (3988814580.py, line 2)

In [7]:
a = {"name" : "kiran" , "age" : "20" , "location" : "trichy"}

In [ ]:
#type,

In [8]:
print(type(a))

<class 'dict'>

In [9]:
print(min(a))

age

In [10]:
print(max(a))

name

In [11]:
print(sorted(a))

['age', 'location', 'name']

In [14]:
print(isinstance(a,str))

False

In [15]:
a.keys()

dict_keys(['name', 'age', 'location'])

In [16]:
a.values()

dict_values(['kiran', '20', 'trichy'])

In [17]:
a.items()   #both keys and values   tuple inside a list

dict_items([('name', 'kiran'), ('age', '20'), ('location', 'trichy')])

In [18]:
a["demo"] = "try"  #to add a new  key and value

In [19]:
print(a)

{'name': 'kiran', 'age': '20', 'location': 'trichy', 'demo': 'try'}

In [20]:
del a["demo"]          #to remove a key and value
print(a)

{'name': 'kiran', 'age': '20', 'location': 'trichy'}

In [21]:
a["name"]  #to get the value of a key

'kiran'

In [22]:
a["test"]   #no such key so error

KeyError: 'test'

In [23]:
a.get("name")  #same(get the value of a key)

'kiran'

In [24]:
print(a.get("test"))  #gives output as none instead of error

None

In [26]:
print(a.get("name",1))   #we assign 1 , so gives 1 if no such key
print(a.get("test",1))

kiran
1

In [27]:
a = {"name" : "arun" , "age" : "24" , "name" : "kiran"}  #in dictionary key should not be repeated, if repeated it gives last key as output
print(a)                                                    #value can be repeated

{'name': 'kiran', 'age': '24'}

In [28]:
b = a.popitem()  #to remove the last value

In [29]:
print(a)

{'name': 'kiran'}

In [30]:
print(b)  #to remove first value

('age', '24')

In [ ]:
##operators
##arithmetic

In [31]:
a = 5
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a**b)  #power
print(a/b)
print(a//b)  #floor division gives quotient
print(a%b)   #modulus gives remainder

9
1
20
625
1.25
1
1

In [32]:
#relational
a = 5
b = 3
print(a==b)  #to check if equal
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

In [ ]:
#assignment of values
a = 5

In [33]:
a+=3
print(a)   #denotes a+3

8

In [ ]:
#logical operators  and, or, not

In [35]:
print(True and True)
print(True and False)
print(True or False)
print(True or True)
print(not True)
print(not False)

True
False
True
True
False
True